{
    "apps": [
        {
            "name": "api-cadastre",
            "script": "server.js",
            "instances": 1,
            "exec_mode": "cluster",
            "env": {
                "PG_URI": "-- PostegreSQL Connection string --",
                "ROOT_URL": "http://localhost:5000"
            }
        }
    ]
}
